logistic_regression_class.ipynb
Telco_Classification.ipynb
feature_encoding.ipynb
regression_metrics.ipynb
simple_linear_regression.ipynb
50_Startups.csv
Churn_Modelling.csv
Churn_Modelling_MV.csv
.idea/


